<div class="container">
    <div *ngIf="error">
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
    </div>

    <form #fooForm="ngForm" (submit)="createFoo(fooForm)">
        <div class="form-row align-items-center">
            <div class="form-group col-md-11">
                <label for="bar" class="sr-only">Bar</label>
                <input type="text" class="form-control" id="bar" name="bar" placeholder="e.g. Foo Bar" required
                       [disabled]="isWaitingForResponse" [(ngModel)]="foo.bar">
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-success"
                        [disabled]="isWaitingForResponse || fooForm.form.invalid">
                    <i class="fa fa-plus-circle"></i>
                    Add
                </button>
            </div>
        </div>
    </form>
</div>
