<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">MEAN with TypeScript</p>
        <hr class="my-4">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed rutrum sapien, tempor tincidunt mauris.
            Donec augue arcu, imperdiet in lacus vitae, placerat lacinia felis. Maecenas in lobortis sem. Sed mi nunc,
            convallis id leo quis, placerat bibendum urna. Praesent dapibus sed justo vel egestas. Mauris neque velit,
            dignissim ut malesuada dignissim, placerat eu sapien. Ut cursus tellus sit amet eleifend fringilla.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" routerLink="/foos">See foos</a>
        </p>
    </div>
</div>
