# dependencies
/node_modules

# IDEs and editors
.vscode/
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
